.todoList {
  padding: 30px;
  display: flex;

}

.todoList > div {
  margin-right: 50px;
}
.todoLists {
  display: flex;
  flex-wrap: wrap;
}
.button-add-tl {
  width: auto;
  height: auto;
  margin: 150px 5px;
}